@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Oswald:wght@200;300;400;500;700&family=Roboto:wght@300;400;700&display=swap');
@import "react-slideshow-image/dist/styles.css";

$color-blue: #0E52BA;

@mixin page-spacing {
  height: 100vh;
  padding: 115px 50px;
  overflow: hidden;
}

@mixin hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
        
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
  @include hide-scrollbar;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

p {
  line-height: 1.5;
}

@keyframes show {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}