@import '../../components/app/styles.scss';

.cars-container {
    @include page-spacing; 

    h1 {
        align-self: flex-start;
        margin-bottom: 70px;
        animation: title 1s ease forwards;
    }

    .cars-wrapper {
        display: grid;
        grid-template-columns: 300px .75fr 1fr;
        gap: 100px;

        .brands {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            opacity: 0;
            animation: show .8s ease forwards;
    
            .brand {
                cursor: pointer;
                filter: grayscale(100%);
                max-width: 120px;
                transition: all .3s ease;
    
                &:hover {
                    filter: grayscale(0%);
                    transition: all .3s ease;
                    transform: rotate(-3deg);
                }
            }
    
            .active {
                filter: grayscale(0%);
            }
        }
    
        .cars {
            display: flex;
            flex-direction: column;
            gap: 40px;
            text-align: left;
            opacity: 0;
            animation: title .5s 1s ease forwards;

            .car {
                background-color: #eee;
                cursor: pointer;
                transition: all .2s ease forwards;
    
                &:hover {
                    background-color: #ddd;
                    transition: all .2s ease;
                    transform: scale(1.05);
                }
    
                p {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    font-weight: 500;
                    padding: 10px;
    
                    svg {
                        height: 12px;
                        width: 12px;
                    }
                }
                
            }
        }
    
        .car-details {
            animation: show .5s ease;
    
            h2 {
                font-size: 2rem;
            }
            
            img {
                width: 35vw;
                max-height: 430px;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .cars-container {
        padding-bottom: 50px;
        overflow-y: scroll;
        display: flex; 
        flex-direction: column;
        padding-top: 100px;
        @include hide-scrollbar;

        h1 {
            align-self: flex-start;
            margin-bottom: 40px;
            animation: title 1s ease forwards;
        }
    
        .cars-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            gap: 70px;
    
            .brands {
                gap: 30px;
        
                .brand {
                    margin: 0 auto;
                    max-width: 110px;
        
                    &:hover {
                        filter: grayscale(0%);
                        transition: all .3s ease;
                        transform: rotate(-3deg);
                    }
                }
            }
        
            .car-details {
                display: flex;
                flex-direction: column;
                animation: show .5s ease;
                margin-bottom: 70px;
        
                h2 {
                    font-size: 2rem;
                }
                
                img {
                    margin: 20px auto;
                    width: 70vw;
                }
            }
        }
    }
}