@import '../../components/app/styles.scss';

.cars-container {
    display: flex;
    flex-direction: column;
    @include page-spacing;  
    padding-top: $page-padding-top;

    h1 {
        margin-bottom: 70px;
        animation: title 1s ease forwards;
    }

    .cars-wrapper {
        display: grid;
        grid-template-columns: 1fr .75fr 2fr;

        .brands {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            grid-column: 1 / 2;
            opacity: 0;
            animation: show .8s ease forwards;
    
            & > * {
                cursor: pointer;
                filter: grayscale(100%);
                max-width: 120px;
                transition: all .3s ease;
    
                &:hover {
                    filter: grayscale(0%);
                    transition: all .3s ease;
                    transform: rotate(-3deg);
                }
            }
    
            .active {
                filter: grayscale(0%);
            }
        }
    
        .cars {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 40px;
            text-align: left;
            grid-column: 2 / 3;
            margin-left: 100px;
            opacity: 0;
            animation: title .5s 1s ease forwards;

            .car {
                background-color: #eee;
                cursor: pointer;
                transition: all .2s ease;
    
                &:hover {
                    background-color: #ddd;
                    transition: all .2s ease;
                    transform: scale(1.05);
                }
    
                p {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    font-weight: 500;
                    padding: 10px;
    
                    svg {
                        height: 12px;
                        width: 12px;
                    }
                }
                
            }
        }
    
        .car-details {
            margin-left: 150px;
            animation: show .5s ease;
            height: 450px;
            animation: show .5s ease;
            grid-column: 3 / 4;
    
            h2 {
                font-size: 2rem;
            }
            
            img {
                height: 400px;
            }
    
            p {
                width: 70ch;
            }
        }
    }
}
