@import '../../components/app/styles.scss';

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    @include page-spacing;
    color: white;

    .left-about {
        flex: 1;
        z-index: 5;

        h1 {
            font-size: 4rem;
            animation: text 1s ease forwards;
        }

        h3 {
            font-size: 1.75rem;
            font-weight: 300;
            animation: title 1s ease forwards;
        }

        &-bottom {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 20px;
            width: 70ch;
        }
    }

    .right-about {
        position: relative;
        height: 100%;
        width: 50%;

        img {
            position: absolute;
            opacity: 0;
            height: 800px;
            bottom: -3vw;
            right: -5vw;
            z-index: 0;
            animation: show 1s 1s ease forwards;
        }
    }
}
