@import '../../components/app/styles.scss';

.services-container {
    display: grid;
    grid-template-rows: 80px min-content;
    @include page-spacing;

    h1 {
        animation: title 1s ease forwards;
    }
    
    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin: 0 100px;
        grid-row: 2 / 3;
        background-color: #ddd;
        padding: 50px;
        animation: show 2s ease forwards;

        .card {
            margin: 0 auto;
            max-width: 250px;
            
            p {
                margin-top: 10px;
            }
        }

        .first {
            opacity: 0;
            animation: slideIn .5s ease-in-out forwards;
        }

        .second {
            opacity: 0;
            animation: slideIn .5s .2s ease-in-out forwards;
        }

        .third {
            opacity: 0;
            animation: slideIn .5s .4s ease-in-out forwards;
        }

        .fourth {
            opacity: 0;
            animation: slideIn .5s .6s ease-in-out forwards;
        }

        .fifth {
            opacity: 0;
            animation: slideIn .5s .8s ease-in-out forwards;
        }

        .sixth {
            opacity: 0;
            animation: slideIn .5s 1s ease-in-out forwards;
        }
    }

    .slideshow-container {
        width: 700px;
        margin: 75px auto;
        grid-row: 2 / 3;
        animation: title 1s ease forwards;

        .default-nav {
            background: transparent !important;
            fill: white !important;
            margin: 0 20px;
            transform: scale(1.3);
            transition: all .2s ease;

            &:hover {
                transform: scale(1.5);
                transition: all .2s ease;
            }
        }
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 1100px) {
    .services-container {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        padding-bottom: 80px;
        padding-top: 100px;
        @include hide-scrollbar;
        
        .slideshow-container {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 50px;

            img {
                width: 80vw;
            }
        }

        .cards {
            text-align: center;
            margin: 0;
    
            .card {
                max-width: 250px;
                
                p {
                    margin-top: 10px;
                }
            }
        }
    }
}