@import '../../components/app/styles.scss';

.services-container {
    display: grid;
    grid-template-rows: 80px min-content;
    @include page-spacing;
    padding-top: $page-padding-top;

    h1 {
        animation: title 1s ease forwards;
    }
    
    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin: 0 100px;
        grid-row: 2 / 3;
        background-color: #ddd;
        padding: 50px;

        .card {
            margin: 0 auto;
            max-width: 250px;
            
            p {
                margin-top: 10px;
            }
        }

        .first {
            opacity: 0;
            animation: slideIn .5s ease-in-out forwards;
        }

        .second {
            opacity: 0;
            animation: slideIn .5s .2s ease-in-out forwards;
        }

        .third {
            opacity: 0;
            animation: slideIn .5s .4s ease-in-out forwards;
        }

        .fourth {
            opacity: 0;
            animation: slideIn .5s .6s ease-in-out forwards;
        }

        .fifth {
            opacity: 0;
            animation: slideIn .5s .8s ease-in-out forwards;
        }

        .sixth {
            opacity: 0;
            animation: slideIn .5s 1s ease-in-out forwards;
        }
    }

    .slideshow-container {
        width: 700px;
        margin: 75px auto;
        grid-row: 2 / 3;

        .default-nav {
            background: transparent !important;
            fill: white !important;
            margin: 0 10px;
        }
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}